version: 2.1
orbs:
  path-filtering: circleci/path-filtering@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.5

filters: &filters
  tags:
    only: /.+/

jobs:
  set-parameters-test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            src/scripts/.* test-scripts true
            src/commands/.* test-commands true
      - run: cat /tmp/pipeline-parameters.json

workflows:
  test-deploy:
    jobs:
      - set-parameters-test:
          filters: *filters
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: circleci/path-filtering
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
            - set-parameters-test
          context: orb-publisher
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
